<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Vistas</title>



	<!-- Custom styles for this template-->
	<link href="css/style.css" rel="stylesheet">

</head>

<body class="bg">

	<div class="container2">
		

		<!-- Outer Row -->
		<div class="row justify-content-center">
			

			<div class="box-templates">
				
				<div class="logo_header ">
					<img class="logo_h" src="/images/QO_horizontal.png">
					<h2 class="header_title">Mozo</h2>
				</div>

				<div class="card shadow-lg ">
					<div class="card-body2" id="Pedidos">
						
					


					</div>
				</div>

			</div>

		</div>

	</div>
	<div id="btn-flotante">

	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/templates.js"></script>

</body>
<footer>
	<div id="popup2" class="popupc2" style="display:none;">

		

	</div>
</footer>

</html>